<template>
  <div class="about-wrapper">
    <v-layout row wrap ma-2>
      <v-flex xs12 text-xs-center>
        <a class="logo" href="http://qaado.com" target="_blank">
          <img src="http://news.iweydi.com/dist/img/logo.png" alt="iweydi logo">
        </a>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  name: 'settings',
  data () {
    return {
      notificationPermission: false,
      subscriptionCategories: [],
      channels: []
    }
  },
  computed: {
    ...mapGetters(['allCategories']),
    isMobileApp () {
      return window.cordova && window.cordova.platformId === 'mobile'
    }
  },
  watch: {
    notificationPermission (val) {
      if (val) {
        localStorage.setItem('notification_premission', 'granted')
      } else {
        localStorage.setItem('notification_premission', 'denied')
      }
    },
    allCategories () {
      this.resetSubscriptionChannels()
    },
    channels () {
      console.log('channels', {channels: this.channels})
      localStorage.setItem('channels', JSON.stringify(this.channels))
    },
    subscriptionCategories (val) {
      console.log('subscriptionCategories', val)
    }
  },
  mounted () {
    let permission = localStorage.getItem('notification_premission')
    this.notificationPermission = permission === 'granted'

    let channels = localStorage.getItem('channels')
    if (channels === null) {
      this.channels = []
    } else {
      this.channels = JSON.parse(channels)
    }
    console.log('mounted', [typeof this.channels, typeof JSON.parse(channels), this.channels])
    this.resetSubscriptionChannels()
  },
  methods: {
    testNotifications () {
      this.$http.post('/api/v1/push/notifications', {title: 'Qaado News', text: 'Brings all news in one place'}).then(resp => {
        console.log('testNotifications response', resp)
      }).catch(err => {
        console.log('testNotifications error', err)
      })
    },
    resetSubscriptionChannels () {
      let self = this
      this.subscriptionCategories = this.allCategories.map(item => {
        let isSelected = self.channels.indexOf(item) > -1
        console.log('allCategories', {category: item, isSelected})
        return {name: item, isSelected, newItem: '', searchResults: []}
      })
    },
    categorySubscribe (e, category) {
      console.log('categorySubscribe', {e, i: this.channels.indexOf(category.name)})
      if (e) {
        this.channels.push(category.name)
      } else if (this.channels.indexOf(category.name) > -1) {
        this.channels.splice(this.channels.indexOf(category.name), 1)
      }
      console.log('channels', (this.channels))
    },
    clone (item) {
      if (typeof item !== 'object') {
        return JSON.parse(JSON.stringify(item))
      }
      return item
    }
  }
}
</script>
<style>
.search-result-popup {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: auto;
  left: 1.1em;
  right: 0.9em;
  min-height: 5em;
  background-color: rgba(250,250,250,0.85);
  z-index: 2;
}
.search-result-popup ul {
  list-style-type: none;
}
.about-wrapper .flex.v-card {
  background-color: #ffffff;
  margin: 0.5%;
}
.about-wrapper .logo img {
  max-width: 5em;
  margin: auto;
}
.get-on-google-play-badge, 
.get-on-google-play-badge a {
  width: 100%;
  display: block;
}
.get-on-google-play-badge img {
  max-width: 15em;
  margin: auto;
  display: block;
}
@media screen and (min-width: 600px) {
  .about-wrapper .flex.v-card.sm6 {
    max-width: 49% !important;
  }
  .about-wrapper .flex.v-card.xs12 {
    max-width: 99%;
  }
}
</style>
