<template>
  <div class="accounts-wrapper">
    <v-layout row wrap ma-2>
      <v-flex xs12 text-xs-center>
        Accounts
      </v-flex>
      <v-flex xs12 pa-2>

        <v-tabs
          small
          centered
          color="primary"
          dark
          icons-and-text
          v-model="currentTab"
        >
          <v-tabs-slider color="yellow"></v-tabs-slider>

          <v-tab href="#manage">
            Manage
            <v-icon>work</v-icon>
          </v-tab>

          <v-tab href="#history">
            History
            <v-icon>history</v-icon>
          </v-tab>

          <v-tab-item
            value="manage"
          >
            <v-card flat>
              <v-card-text>
                <account-list @transactionSuccess="transactionSuccess"></account-list>
              </v-card-text>
            </v-card>
          </v-tab-item>

          <v-tab-item
            value="history"
          >
            <v-card flat>
              <v-card-text>
                <h1>History</h1>
                <transactions-history :selectedTab="currentTab"></transactions-history>
              </v-card-text>
            </v-card>
          </v-tab-item>
        </v-tabs>
      </v-flex>


    </v-layout>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
// import {EventBus} from '../main'

import AccountList from './partials/AccountList.vue'
import TransactionsHistory from './partials/TransactionsHistory.vue'

export default {
  name: 'accounts',
  components: {
    AccountList,
    TransactionsHistory
  },
  data () {
    return {
      currentTab: 'manage'
    }
  },
  computed: {
    ...mapGetters(['users'])
  },
  watch: {
  },
  created () {
    this.getUsers()
  },
  methods: {
    getUsers () {
      this.$http.get('/api/v1/users').then(resp => {
        console.log('users response', resp.data.users)
        this.$store.commit('SET_USERS', resp.data.users)
      }).catch(err => {
        console.log('users error', err)
        this.$store.dispatch('HANDLE_ERROR', err)
      })
    },
    transactionSuccess (resp) {
      if (resp) {
        this.getUsers()
      }
    }
  }
}
</script>
<style>
.search-result-popup {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: auto;
  left: 1.1em;
  right: 0.9em;
  min-height: 5em;
  background-color: rgba(250,250,250,0.85);
  z-index: 2;
}
.search-result-popup ul {
  list-style-type: none;
}
.about-wrapper .flex.v-card {
  background-color: #ffffff;
  margin: 0.5%;
}
.about-wrapper .logo img {
  max-width: 5em;
  margin: auto;
}
.get-on-google-play-badge, 
.get-on-google-play-badge a {
  width: 100%;
  display: block;
}
.get-on-google-play-badge img {
  max-width: 15em;
  margin: auto;
  display: block;
}
@media screen and (min-width: 600px) {
  .about-wrapper .flex.v-card.sm6 {
    max-width: 49% !important;
  }
  .about-wrapper .flex.v-card.xs12 {
    max-width: 99%;
  }
}
</style>
