<template>
<div>
  <v-layout
    text-xs-center
    row
    wrap
    class="home-page-wrapper"
  >
    <v-flex xs12 sm6 class="pa-1">
      Home
    </v-flex>
  </v-layout>
</div>
  
</template>

<script>
  import {mapGetters} from 'vuex'
  export default {
    data: () => ({
    }),
    components: {
    },
    computed: {
      ...mapGetters([])
    },
    watch: {
    },
    created () {
    },
    methods: {
    }
  }
</script>

<style>

</style>
