<template>
  <v-layout align-center justify-center>
    <v-flex xs12 sm8 md4>
      <form @submit="login">
        <v-card class="elevation-12">
          <v-toolbar dark color="primary" text-xs-center>
            <v-toolbar-title>Login</v-toolbar-title>
            <v-spacer></v-spacer>
          </v-toolbar>
          <v-card-text>
            <v-form>
              <v-text-field prepend-icon="person" name="login" label="Email" type="email" v-model="user.email"></v-text-field>
              <v-text-field id="password" prepend-icon="lock" name="password" label="Password" type="password" v-model="user.password"></v-text-field>
            </v-form>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn type="submit" color="primary">Login</v-btn>
          </v-card-actions>
        </v-card>
      </form>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters} from 'vuex'

import {EventBus} from '../main'
export default {
  name: 'login',
  data () {
    return {
      user: {
        email: '',
        password: ''
      }
    }
  },
  computed: {
    ...mapGetters(['is_logged_in'])
  },
  watch: {
  },
  mounted () {
    if (this.is_logged_in) {
      let next = '/'
      if (this.$route.query && this.$route.query.redirect) {
        next = this.$route.query.redirect
      }
      this.$router.push({path: next})
    }
  },
  methods: {
    login (e) {
      console.log('login', e)
      e.preventDefault()
      this.$http.post('/api/v1/login', this.user).then(resp => {
        console.log('login response', resp)
        this.$store.commit('SET_USER_DATA', resp.data)
        let next = '/'
        if (this.$route.query && this.$route.query.redirect) {
          next = this.$route.query.redirect
        }
        this.$router.push({path: next})
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'success', text: 'Successfully logged in'})
      }).catch(err => {
        console.log('login error', err.response.data)
        let msg = err.response && err.response.data && err.response.data.msg ? err.response.data.msg : err.toString()
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: msg})
      })
    }
  }
}
</script>
<style>
.search-result-popup {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: auto;
  left: 1.1em;
  right: 0.9em;
  min-height: 5em;
  background-color: rgba(250,250,250,0.85);
  z-index: 2;
}
.search-result-popup ul {
  list-style-type: none;
}
.about-wrapper .flex.v-card {
  background-color: #ffffff;
  margin: 0.5%;
}
.about-wrapper .logo img {
  max-width: 5em;
  margin: auto;
}
.get-on-google-play-badge, 
.get-on-google-play-badge a {
  width: 100%;
  display: block;
}
.get-on-google-play-badge img {
  max-width: 15em;
  margin: auto;
  display: block;
}
.login-wrapper {
  width: 100%;
  height: 100vh;
}
@media screen and (min-width: 600px) {
  .about-wrapper .flex.v-card.sm6 {
    max-width: 49% !important;
  }
  .about-wrapper .flex.v-card.xs12 {
    max-width: 99%;
  }
}
</style>
