<template>
  <div class="performance-wrapper">
    <v-layout row wrap ma-2>
      <v-flex xs12 text-xs-center>
        Performance
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import {mapGetters} from 'vuex'
export default {
  name: 'performance',
  data () {
    return {
    }
  },
  computed: {
    ...mapGetters([])
  },
  watch: {
  },
  mounted () {
  },
  methods: {
  }
}
</script>
<style>
.search-result-popup {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: auto;
  left: 1.1em;
  right: 0.9em;
  min-height: 5em;
  background-color: rgba(250,250,250,0.85);
  z-index: 2;
}
.search-result-popup ul {
  list-style-type: none;
}
.about-wrapper .flex.v-card {
  background-color: #ffffff;
  margin: 0.5%;
}
.about-wrapper .logo img {
  max-width: 5em;
  margin: auto;
}
.get-on-google-play-badge, 
.get-on-google-play-badge a {
  width: 100%;
  display: block;
}
.get-on-google-play-badge img {
  max-width: 15em;
  margin: auto;
  display: block;
}
@media screen and (min-width: 600px) {
  .about-wrapper .flex.v-card.sm6 {
    max-width: 49% !important;
  }
  .about-wrapper .flex.v-card.xs12 {
    max-width: 99%;
  }
}
</style>
