<template>
  <div class="shops-wrapper">
    <v-layout row wrap ma-2>
      <v-flex xs12 text-xs-center>
        Shops
      </v-flex>
      <v-flex xs12 pa-2>
        <shop-list @addShop="addShop"></shop-list>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import ShopList from './partials/ShopList.vue'
import {EventBus} from '../main'

export default {
  name: 'shops',
  components: {
    ShopList
  },
  data () {
    return {
    }
  },
  computed: {
  },
  watch: {
  },
  created () {
    this.getShos()
  },
  methods: {
    getShos () {
      this.$http.get('/api/v1/shops').then(resp => {
        console.log('shops response', resp.data.shops)
        this.$store.commit('SET_SHOPS', resp.data.shops)
      }).catch(err => {
        console.log('shops error', err)
      })
    },
    addShop (shop) {
      console.log('addShop:', shop)
      this.$http.post('/api/v1/shops', shop).then(resp => {
        console.log('addShop resp', resp)
        if (resp && resp.data && resp.data.shop) {
          this.$store.commit('ADD_SHOP', resp.data.shop)
          EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'success', text: 'Successfully created new shop'})
        }
      }).catch(err => {
        console.log('addShop error', err.response)
      })
    }
  }
}
</script>
<style>
.search-result-popup {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: auto;
  left: 1.1em;
  right: 0.9em;
  min-height: 5em;
  background-color: rgba(250,250,250,0.85);
  z-index: 2;
}
.search-result-popup ul {
  list-style-type: none;
}
.about-wrapper .flex.v-card {
  background-color: #ffffff;
  margin: 0.5%;
}
.about-wrapper .logo img {
  max-width: 5em;
  margin: auto;
}
.get-on-google-play-badge, 
.get-on-google-play-badge a {
  width: 100%;
  display: block;
}
.get-on-google-play-badge img {
  max-width: 15em;
  margin: auto;
  display: block;
}
@media screen and (min-width: 600px) {
  .about-wrapper .flex.v-card.sm6 {
    max-width: 49% !important;
  }
  .about-wrapper .flex.v-card.xs12 {
    max-width: 99%;
  }
}
</style>
