<template>
  <div class="users-wrapper">
    <v-layout row wrap ma-2>
      <v-flex xs12 text-xs-center>
        Users
      </v-flex>
      <v-flex xs12 pa-2>
        <user-list @addUser="addUser"></user-list>
      </v-flex>
    </v-layout>
  </div>
</template>
<script>
import UserList from './partials/UserList.vue'
import {EventBus} from '../main'

export default {
  name: 'users',
  components: {
    UserList
  },
  data () {
    return {
    }
  },
  computed: {
  },
  watch: {
  },
  created () {
    this.getUsers()
  },
  methods: {
    getUsers () {
      this.$http.get('/api/v1/users').then(resp => {
        console.log('users response', resp.data.users)
        this.$store.commit('SET_USERS', resp.data.users)
      }).catch(err => {
        console.log('users error', err)
        this.$store.dispatch('HANDLE_ERROR', err)
      })
    },
    addUser (user) {
      console.log('addUser:', user)
      this.$http.post('/api/v1/users', user).then(resp => {
        console.log('addUser resp', resp)
        this.getUsers()
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'success', text: 'Successfully created new user'})
        EventBus.$emit('CLEAR_USER_FORM')
      }).catch(err => {
        console.log('addUser error', err.response)
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: err.response.data.msg})
        this.$store.dispatch('HANDLE_ERROR', err)
      })
    }
  }
}
</script>
<style>
.search-result-popup {
  border: 1px solid rgba(0,0,0,0.1);
  position: absolute;
  top: auto;
  left: 1.1em;
  right: 0.9em;
  min-height: 5em;
  background-color: rgba(250,250,250,0.85);
  z-index: 2;
}
.search-result-popup ul {
  list-style-type: none;
}
.about-wrapper .flex.v-card {
  background-color: #ffffff;
  margin: 0.5%;
}
.about-wrapper .logo img {
  max-width: 5em;
  margin: auto;
}
.get-on-google-play-badge, 
.get-on-google-play-badge a {
  width: 100%;
  display: block;
}
.get-on-google-play-badge img {
  max-width: 15em;
  margin: auto;
  display: block;
}
@media screen and (min-width: 600px) {
  .about-wrapper .flex.v-card.sm6 {
    max-width: 49% !important;
  }
  .about-wrapper .flex.v-card.xs12 {
    max-width: 99%;
  }
}
</style>
