<template>
  <div>
    <div v-if="$store.getters.app_loading.enable" class="loading-overlay">
      <v-progress-circular
        :size="70"
        :width="7"
        color="primary"
        indeterminate
      ></v-progress-circular>
    </div>
    <v-app id="inspire" v-if="!$route.meta.noLayout">
      <v-navigation-drawer
        v-model="drawer"
        clipped
        fixed
        app
      >
        <v-list dense>
            <v-list-tile @click="$router.push({path: '/'})">
              <v-list-tile-action>
                <v-icon>home</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Home')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-if="is_logged_in" @click="$router.push({path: '/users'})">
              <v-list-tile-action>
                <v-icon>people</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Users')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-if="is_logged_in" @click="$router.push({path: '/shops'})">
              <v-list-tile-action>
                <v-icon>shop</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Shops')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-if="is_logged_in" @click="$router.push({path: '/accounts'})">
              <v-list-tile-action>
                <v-icon>attach_money</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Accounts')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile v-if="is_logged_in" @click="$router.push({path: '/performance'})">
              <v-list-tile-action>
                <v-icon>bar_chart</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Performance')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>

            <v-list-tile class="v-list__tile--link" v-if="is_logged_in" @click="logout">
              <v-list-tile-action>
                <v-icon>lock</v-icon>
              </v-list-tile-action>
              <v-list-tile-content>
                <v-list-tile-title>{{$t('Logout')}}</v-list-tile-title>
              </v-list-tile-content>
            </v-list-tile>
            
            <v-divider></v-divider>
            
            <v-list-tile v-for="lang in languages" :key="lang.key" @click="setLang(lang.key)">
              <v-list-tile-title>{{lang.name}}</v-list-tile-title>
            </v-list-tile>
          </v-list>
      </v-navigation-drawer>
      <v-toolbar color="indigo" dark fixed app>
        <v-toolbar-side-icon @click.stop="drawer = !drawer"></v-toolbar-side-icon>
        <v-toolbar-title @click="$router.push({path: '/'})">{{$t('Qaado - Inventory')}}</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <!-- <v-btn flat v-if="$store.getters.is_logged_in"><v-icon>settings</v-icon></v-btn> -->
          <!-- <v-btn icon @click="showNotifications">
            <v-badge color="red">
              <template v-slot:badge v-if="notifications.count()">
                <span>{{notifications.count()}}</span>
              </template>
              <v-icon v-if="notifications.enable && notifications.count() > 0">notifications_active</v-icon>
              <v-icon v-else-if="notifications.enable">notifications_none</v-icon>
              <v-icon v-else>notifications_off</v-icon>
            </v-badge>
            
          </v-btn> -->
          <v-menu bottom left>
            <v-btn
              slot="activator"
              dark
              icon
            >
              <v-icon>more_vert</v-icon>
            </v-btn>

            <v-list>
              <v-list-tile style="height: 32px;">
                <v-list-tile-title><v-icon>language</v-icon> {{$t('Languages')}}</v-list-tile-title>
              </v-list-tile>
              <v-list-tile :class="$i18n.locale() === lang.key ? 'primary--text' : ''" style="height: 32px;" v-for="lang in languages" :key="lang.key" @click="setLang(lang.key)">
                <v-list-tile-title><v-icon :class="$i18n.locale() === lang.key ? 'primary--text' : ''">chevron_right</v-icon> {{lang.name}}</v-list-tile-title>
              </v-list-tile>
            </v-list>
          </v-menu>
        </v-toolbar-items>
        <v-progress-linear
          class="header-loading-animation-progressbar"
          color="secondary"
          v-if="$store.getters.app_loading.enable"
          :indeterminate="true"
        ></v-progress-linear>
      </v-toolbar>
      <v-content>
        <router-view class="child-view"></router-view>
      </v-content>
      <v-footer class="pa-2" color="indigo" app>
          <span class="white--text">&copy; {{thisYear}} Qaado</span>
          <v-spacer></v-spacer>
          <v-chip
            v-if="noNetwork"
            dark
            small
            color="orange"
            outline
            @click="getVersion"
          >Offline</v-chip>
          <v-chip
            v-else
            dark
            small
            color="white"
            outline
            @click="getVersion"
          >Online</v-chip>
        </v-footer>
    </v-app>
    <v-app v-else id="inspire">
      <v-content>
        <v-container fluid fill-height>
          <router-view></router-view>
        </v-container>
      </v-content>
    </v-app>

    <v-snackbar
      v-model="success_message.show"
      :color="'success'"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="success_message.timeout"
      :vertical="false"
    >
      {{ $t(success_message.text) }}
      <v-btn
        dark
        flat
        icon
        @click="success_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
    <v-snackbar
      v-model="error_message.show"
      :color="'error'"
      class="black--text"
      :top="true"
      :right="true"
      :multi-line="false"
      :timeout="error_message.timeout"
      :vertical="false"
    >
      <b>{{ error_message.text }}</b>
      <v-btn
        dark
        flat
        icon
        @click="error_message.show = false"
      >
        <v-icon small>close</v-icon>
      </v-btn>
    </v-snackbar>
  </div>
</template>

<script>
import {mapGetters} from 'vuex'
import $ from 'jquery'

import {EventBus} from './main'

export default {
  name: 'App',
  components: {
  },
  data () {
    return {
      success_message: {
        show: false,
        timeout: 5000,
        text: ''
      },
      error_message: {
        show: false,
        timeout: 5000,
        text: ''
      },
      languages: [
        {name: 'English', key: 'en'},
        {name: 'Soomaali', key: 'so'}
      ]
    }
  },
  computed: {
    ...mapGetters(['is_logged_in', 'noNetwork']),
    drawer: {
      get () {
        return this.$store.getters.drawer
      },
      set (newValue) {
        this.$store.commit('DRAWER', newValue)
      }
    },
    thisYear () {
      return (new Date()).getFullYear()
    }
  },

  watch: {
    drawer (val) {
      // console.log('drawer', val)
      if (window.innerWidth > 1263) {
        $('.header-loading-animation-progressbar').addClass('with-sidebar')
      } else if (val) {
        $('.header-loading-animation-progressbar').addClass('with-sidebar')
      } else {
        $('.header-loading-animation-progressbar').removeClass('with-sidebar')
      }
    },
    noNetwork (val) {
      console.log('noNetwork', val)
      if (val) {
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: 'No internet connection!'})
      }
    }
  },

  created () {
    let auth = localStorage.getItem('auth')
    if (auth) {
      auth = JSON.parse(auth)
      this.$store.commit('SET_USER_DATA', (auth.state || auth))
    }
    console.log('AUTH', auth)
    EventBus.$on('SHOW_ALERT_MESSAGE', data => {
      if (data && data.type) {
        if (data.type === 'success') {
          this.success_message.text = data.text
          this.success_message.timeout = data.timeout || 3000
          this.success_message.show = true
        } else if (data.type === 'error') {
          this.error_message.text = data.text
          this.error_message.timeout = data.timeout || 3000
          this.error_message.show = true
        }
      }
    })
  },

  beforeMount () {
    this.drawer = false
  },

  methods: {
    getVersion () {
      this.$http.get('/api/version').then(resp => {
        console.log('version response', resp.data)
      }).catch(err => {
        console.log('version error', err)
        this.$store.dispatch('HANDLE_ERROR', err)
      })
    },
    logout () {
      this.$store.dispatch('CLEAR_ALL')
      this.$router.push('/login')
    },
    backButtonHandler (e) {
      console.log('backButtonHandler', e)
      e.preventDefault()
      this.exitApp()
    },
    exitApp () {
      console.log('exitApp')
      if (navigator.app) {
        navigator.app.exitApp()
      } else if (navigator.device) {
        navigator.device.exitApp()
      } else {
        window.close()
      }
    },
    setLang (lang) {
      this.$i18n.set(lang)
      // console.log('setLang', [lang, this.$i18n.locale()])
      localStorage.setItem('lang', lang)
    },
    goToPage (url) {
      this.$router.push(url)
    }
  }
}
</script>
<style>
.loading-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 10000;
}
.loading-overlay .v-progress-circular {
  position: absolute;
  top: 45%;
  left: 45%;
}
.header-loading-animation-progressbar {
  position: absolute;
  bottom: -21px;
  left: 0;
  right: 0;
  transition: left 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}
.header-loading-animation-progressbar.with-sidebar {
  left: 300px;
}
</style>
