<template>
  <v-layout row wrap class="account-form-wrapper">
    <v-flex xs12>

      <v-tabs
        small
        centered
        color="primary"
        dark
        v-model="currentTab"
      >
        <v-tabs-slider color="yellow"></v-tabs-slider>

        <v-tab href="#deposit">
          Deposit
          <!-- <v-icon>add</v-icon> -->
        </v-tab>

        <v-tab href="#withdraw">
          Withdraw
          <!-- <v-icon>remove</v-icon> -->
        </v-tab>

        <v-tab-item
          value="deposit"
        >
          <v-card flat>
            <v-card-text>
              <form @submit.prevent="processDeposit" class="ma-1 accountForm" ref="accountForm">
                <div v-if="!(selected_account && selected_account.user_id)" class="form-overlap">
                  <h1>Select account to access this form</h1>
                </div>
                <v-layout row wrap>
                  <v-flex xs12>
                    <div class="money-input">
                      <v-btn icon color="error" class="float-left" :disabled="!enabled || deposit.amount <= 1" @click="deposit.amount--">
                        <v-icon>remove</v-icon>
                      </v-btn>
                      <v-text-field
                        v-model="deposit.amount"
                        type="number"
                        label="Deposit amount"
                        @change="amountChanged('deposit', deposit.amount)"
                        @input="$emit('input', {type: 'deposit', selected_account})"
                        required
                        class="float-left amount-input-centered without-detail"
                      ></v-text-field>
                      <v-btn icon color="primary" class="float-left" :disabled="!enabled" @click="deposit.amount++">
                        <v-icon>add</v-icon>
                      </v-btn>
                    </div>
                  </v-flex>
                  <v-flex xs12>
                    <v-radio-group
                      row
                      v-model="deposit.currency"
                      :mandatory="true"
                      @change="$emit('change', deposit.currency)"
                      class="margin-auto fit-to-content"
                      :disabled="!enabled">
                      <v-radio v-for="currency in available_currencies" :label="currency.name" :value="currency.code" :key="currency.code"></v-radio>
                    </v-radio-group>
                  </v-flex>

                  <v-flex xs12>
                    <v-btn color="primary" type="submit" class="margin-auto d-block">Deposit</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-card-text>
          </v-card>
        </v-tab-item>

        <v-tab-item
          value="withdraw"
        >
          <v-card flat>
            <v-card-text>
              <form @submit.prevent="processWithdraw" class="ma-1 accountForm" ref="accountForm">
                <div v-if="!(selected_account && selected_account.user_id)" class="form-overlap">
                  <h1>Select account to access this form</h1>
                </div>
                <v-layout row wrap>
                  <v-flex xs12>
                    <div class="money-input">
                      <v-btn icon color="error" class="float-left" :disabled="!enabled || withdraw.amount <= 1" @click="withdraw.amount--">
                        <v-icon>remove</v-icon>
                      </v-btn>
                      <v-text-field
                        v-model="withdraw.amount"
                        type="number"
                        label="Withdraw amount"
                        @change="amountChanged('withdraw', withdraw.amount)"
                        @input="$emit('input', {type: 'withdraw', selected_account})"
                        required
                        :disabled="!enabled"
                        class="float-left amount-input-centered without-detail"
                      ></v-text-field>
                      <v-btn icon color="primary" class="float-left" :disabled="!enabled" @click="withdraw.amount++">
                        <v-icon>add</v-icon>
                      </v-btn>
                    </div>
                  </v-flex>
                  <v-flex xs12>
                    <v-radio-group
                      row
                      v-model="withdraw.currency"
                      :mandatory="true"
                      @change.prevent="currencyChanged('withdraw', withdraw.currency)"
                      class="margin-auto fit-to-content"
                      :disabled="!enabled">
                      <v-radio v-for="currency in available_currencies" :label="currency.name" :value="currency.code" :key="currency.code"></v-radio>
                    </v-radio-group>
                  </v-flex>

                  <v-flex xs12>
                    <v-btn color="primary" type="submit" class="margin-auto d-block">Withdraw</v-btn>
                  </v-flex>
                </v-layout>
              </form>
            </v-card-text>
          </v-card>
        </v-tab-item>
      </v-tabs>

    </v-flex>
  </v-layout>
</template>
<script>
import {EventBus} from '../../main'
import {mapGetters} from 'vuex'

export default {
  name: 'accounts-form',
  data () {
    return {
      deposit: {
        amount: 1,
        currency: 'USD'
      },
      withdraw: {
        amount: 1,
        currency: 'USD'
      },
      currentTab: 'deposit',
      selectedCurrency: {}
    }
  },
  computed: {
    ...mapGetters(['selected_account', 'available_currencies']),
    enabled () {
      return this.selected_account && this.selected_account.user_id
    }
  },
  watch: {
    'deposit.currency' () {
      console.log('deposit.currency', this.deposit.currency)
      this.$emit('currencyChanged', {type: 'deposit', currency: this.deposit.currency})
    },
    'withdraw.currency' () {
      console.log('withdraw.currency', this.withdraw.currency)
      this.$emit('currencyChanged', {type: 'withdraw', currency: this.withdraw.currency})
    }
  },
  created () {
    EventBus.$on('CLEAR_USER_FORM', () => {
      console.log('CLEAR_USER_FORM')
      this.resetForm()
    })
    EventBus.$on('SELECTED_CURRENCY_CHANGED', currency => {
      this.selectedCurrency = currency || {}
      console.log('SELECTED_CURRENCY_CHANGED', {currentTab: this.currentTab, selectedCurrency: this.selectedCurrency})
      if (!this.selectedCurrency) {
        return
      }
      if (this.currentTab === 'deposit') {
        this.deposit.currency = this.selectedCurrency.code
      } else if (this.currentTab === 'deposit') {
        this.withdraw.currency = this.selectedCurrency.code
      }
    })
  },
  methods: {
    processDeposit (e) {
      console.log('deposit', e)
      this.$emit('deposit', ['deposit', this.deposit])
    },
    processWithdraw (e) {
      console.log('withdraw', e)
      this.$emit('withdraw', ['withdraw', this.withdraw])
    },
    resetForm () {
      this.$refs.accountForm.reset()
    }
  }
}
</script>

<style>
.account-form-wrapper {
  background-color: #ffffff;
  border: 1px dotted rgba(0, 0, 0, 0.3);
  width: 600px;
  margin: auto;
}
.amount-input-centered label, .amount-input-centered input {
  text-align: center;
}
.amount-input-centered label {
  margin: auto !important;
  width: 133%;
}
.money-input {
  margin: auto;
  width: fit-content;
}
form.accountForm {
  position: relative;
}
form.accountForm .form-overlap {
  position: absolute;
  top: -1.4em;
  bottom: -1.4em;
  left: -1.4em;
  right: -1.4em;
  background-color: #ffffff;
  opacity: 0.5;
  z-index: 2;
}
form.accountForm .form-overlap h1 {
  width: 100%;
  text-align: center;
  margin-top: 2em;
}
</style>
