<template>
  <v-layout row wrap>
    <v-flex xs12>
      <table class="table bordered-1">
        <thead>
          <tr>
            <th width="100">Acc. No</th>
            <th>Name</th>
            <th>Balance</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in accounts" :key="item.id" :class="'link-pointer' + (selectedAccount.user_id === item.user_id ? ' selected-account-row' : '')" @click="selectAccount(item)">
            <td>
              {{item.account_number}}
            </td>
            <td>
              <v-icon v-if="selectedAccount.user_id === item.user_id" color="success" style="margin-bottom: -0.2em;">check_circle</v-icon>
              <v-icon v-else style="margin-bottom: -0.2em;" color="gray">radio_button_unchecked</v-icon>
              {{item.profile.first_name}} {{item.profile.last_name}}
            </td>
            <td>
              <v-chip
                v-for="balance in item.Balances" :key="balance.currency"
                dark
                small
                :color="getBalanceColor(balance.amount)"
                @click.stop="selectAccountAndCurrency(item, balance)"
                >
                <v-avatar v-if="selectedAccount.user_id === item.user_id && selectedCurrency && selectedCurrency.code === balance.currency">
                  <v-icon>check_circle</v-icon>
                </v-avatar>
                <strong class="mr-1">{{balance.amount.toFixed(2)}}</strong> <small>{{balance.currency}}</small>
              </v-chip>
            </td>
            <td></td>
          </tr>
          <tr>
            <th>
              <div>Selected Account</div>
            </th>
            <td>
              <div v-if="selectedAccount && selectedAccount.user_id">#{{selectedAccount.account_number}} | {{selectedAccount.profile.first_name}} {{selectedAccount.profile.last_name}}</div>
              <div v-else>No account selected</div>
            </td>
            <th>
              <div>Selected Currency</div>
            </th>
            <td>
              <div v-if="selectedCurrencyName">{{selectedCurrencyName}}</div>
              <div v-else>No currency selected</div>
            </td>
          </tr>
          <tr v-if="showAdd">
            <td colspan="4">
              <account-form @add="add" @currencyChanged="currencyChanged" @deposit="processTransaction" @withdraw="processTransaction"></account-form>
            </td>
          </tr>
        </tbody>
      </table>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters} from 'vuex'
import AccountForm from './AccountForm.vue'
import { EventBus } from '../../main'
import {clone} from '../../utils'

export default {
  name: 'accounts-list',
  components: {
    AccountForm
  },
  data () {
    return {
      account: {
        name: ''
      },
      showAdd: true,
      selectedAccount: {},
      selectedCurrency: {}
    }
  },
  computed: {
    ...mapGetters(['users', 'get_currency_name', 'selected_account']),
    accounts () {
      return this.users.map(item => ({ ...item.account, profile: item.profile }))
    },
    selectedCurrencyName () {
      if (!(this.selectedCurrency && this.selectedCurrency.code)) {
        return ''
      }
      return this.get_currency_name(this.selectedCurrency.code)
    }
  },
  methods: {
    processTransaction (data) {
      console.log('processTransaction', {data: clone(data)})
      if (!data) {
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: 'Invalid transaction data'})
        return
      }
      if (!this.selected_account.user_id) {
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: 'Invalid user ID'})
        return
      }
      let trxType = ''
      let trx = null
      if (data.length > 1) {
        trxType = data[0]
        trx = data[1]
      } else {
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: 'Invalid transaction'})
        return
      }
      if (!trx.amount) {
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: 'Invalid transaction amount'})
        return
      }
      if (!trx.currency) {
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: 'Invalid transaction currency'})
        return
      }
      let transaction = {
        amount: parseFloat(trx.amount),
        currency: trx.currency,
        description: trx.description || '',
        account_holder_id: this.selected_account.user_id
      }
      let URL = ''
      if (trxType === 'deposit') {
        URL = '/api/v1/accounts/deposit'
      } else if (trxType === 'withdraw') {
        URL = '/api/v1/accounts/withdraw'
      } else {
        EventBus.$emit('SHOW_ALERT_MESSAGE', {type: 'error', text: 'Invalid URL'})
        return
      }
      console.log(`processTransaction ${trxType} request`, transaction)
      this.$http.post(URL, transaction).then(resp => {
        console.log(`processTransaction ${trxType} response`, resp)
        this.$emit('transactionSuccess', resp)
      }).catch(err => {
        console.log(`processTransaction ${trxType} response`, err.response)
      })
    },
    currencyChanged (data) {
      console.log('@currencyChanged', data.currency)
      if (data && data.currency) {
        this.selectedCurrency = {code: data.currency, name: this.get_currency_name(data.currency)}
        console.log('@currencyChanged', this.selectedCurrency)
      }
    },
    selectAccountAndCurrency (account, currency) {
      this.selectedAccount = account
      this.selectedCurrency = {code: currency.currency, name: this.get_currency_name(currency.currency)}
      EventBus.$emit('SELECTED_CURRENCY_CHANGED', this.selectedCurrency)
      this.$store.commit('SELECT_ACCOUNT', account)
    },
    selectAccount (account) {
      this.selectedAccount = account
      this.$store.commit('SELECT_ACCOUNT', account)
    },
    getBalanceColor (balance) {
      if (balance > 0) {
        return 'green'
      }
      if (balance === 0) {
        return 'orange'
      }
      return 'red'
    },
    add (account) {
      this.$emit('addAccount', account)
    }
  }
}
</script>
<style>
table.table tr {
  border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.selected-account-row td {
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}
</style>

