<template>
  <v-layout row wrap class="shop-form-wrapper">
    <v-flex xs12>
      <form @submit="addShop" class="ma-1">
        <v-layout row wrap>
          <v-flex xs12>
            <v-btn class="float-right mt-3" icon outline type="submit" color="primary" :disabled="shop.name < 1">
              <v-icon>add</v-icon>
            </v-btn>
            <v-text-field
              v-model="shop.name"
              :counter="10"
              label="Shop name"
              @change="$emit('change', shop)"
              @input="$emit('input', shop)"
              required
            ></v-text-field>
          </v-flex>
        </v-layout>
      </form>
    </v-flex>
  </v-layout>
</template>
<script>
export default {
  name: 'shops-form',
  data () {
    return {
      shop: {
        name: ''
      }
    }
  },
  methods: {
    addShop (e) {
      console.log('addShop', e)
      e.preventDefault()
      this.$emit('add', {name: this.shop.name})
      this.shop.name = ''
    }
  }
}
</script>

<style>
.shop-form-wrapper {
  background-color: #ffffff;
  border: 1px dotted rgba(0, 0, 0, 0.3);
  margin: 0 -0.5em;
}
</style>
