<template>
  <v-layout row wrap>
    <v-flex xs12>
      <table class="table bordered-1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Address</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in shops" :key="item.id" @click="selectShop(item.id)" class="link-pointer">
            <td>
              <v-icon v-if="selected_shop && selected_shop.id === item.id">radio_button_checked</v-icon>
              <v-icon v-else>radio_button_unchecked</v-icon>
              {{item.name}}
            </td>
            <td>{{item.address}}</td>
            <td></td>
          </tr>
          <tr v-if="showAdd">
            <td colspan="3">
              <shop-form @add="add"></shop-form>
            </td>
          </tr>
        </tbody>
      </table>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters} from 'vuex'
import ShopForm from './ShopForm.vue'

export default {
  name: 'shops-list',
  components: {
    ShopForm
  },
  data () {
    return {
      shop: {
        name: ''
      },
      showAdd: true
    }
  },
  computed: {
    ...mapGetters(['shops', 'selected_shop'])
  },
  methods: {
    selectShop (shopID) {
      this.$store.commit('SELECT_SHOP', shopID)
    },
    add (shop) {
      this.$emit('addShop', shop)
    }
  }
}
</script>

