<template>
  <v-layout row wrap>
    <v-flex xs12>
      <table class="table bordered-1">
        <thead>
          <tr>
            <th width="200">Date</th>
            <th>From</th>
            <th>To</th>
            <td width="200">Amount</td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in transactions" :key="item.id">
            <td>{{item.created_at | toLocaleString}}</td>
            <td>{{toUser(item.sender).fullName}}</td>
            <td>{{toUser(item.receiver).fullName}}</td>
            <td>{{item.amount && (item.amount.amount.toFixed(2) + ' ' + item.amount.currency)}}</td>
          </tr>
        </tbody>
      </table>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters} from 'vuex'
// import AccountForm from './AccountForm.vue'
// import { EventBus } from '../../main'
// import {clone} from '../../utils'

export default {
  name: 'transaxtions-history',
  components: {
  },
  props: {
    selectedTab: String
  },
  data () {
    return {
      transactions: []
    }
  },
  computed: {
    ...mapGetters(['users'])
  },
  watch: {
    selectedTab (val) {
      console.log('selectedTab', val)
      if (val === 'history') {
        this.getTransactionsHistory()
      }
    }
  },
  mounted () {
    this.getTransactionsHistory()
  },
  methods: {
    toUser (id) {
      let [user] = this.users.filter(item => item.id === id)
      if (user) {
        user.fullName = user.profile && `${user.profile.first_name} ${user.profile.last_name}`
        return user
      }
      return {fullName: ''}
    },
    getTransactionsHistory () {
      this.$http.get('/api/v1/transactions').then(resp => {
        console.log('history response', resp.data.transactions)
        this.transactions = resp.data.transactions
      }).catch(err => {
        console.log('history error', err)
        this.$store.dispatch('HANDLE_ERROR', err)
      })
    }
  }
}
</script>
<style>
table.table tr {
  border-left: 1px solid rgba(0, 0, 0, 0.2) !important;
  border-right: 1px solid rgba(0, 0, 0, 0.2) !important;
}
.selected-account-row td {
  border: 1px solid rgba(0, 0, 0, 0.4) !important;
}
</style>

