<template>
  <v-layout row wrap class="user-form-wrapper">
    <v-flex xs12>
      <form @submit="addUser" class="ma-1" ref="userForm">
        <v-layout row wrap>
          <v-flex xs12 sm4>
            <v-text-field
              v-model="user.email"
              type="email"
              label="Email"
              @change="$emit('change', user)"
              @input="$emit('input', user)"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm4>
            <v-text-field
              v-model="user.password"
              :counter="32"
              type="password"
              label="Password"
              @change="$emit('change', user)"
              @input="$emit('input', user)"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm4>
            <v-text-field
              v-model="user.phone"
              type="tel"
              label="Phone"
              @change="$emit('change', user)"
              @input="$emit('input', user)"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm4>
            <v-text-field
              v-model="user.first_name"
              :counter="10"
              label="First name"
              @change="$emit('change', user)"
              @input="$emit('input', user)"
              required
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm4>
            <v-text-field
              v-model="user.last_name"
              :counter="10"
              label="Last name"
              @change="$emit('change', user)"
              @input="$emit('input', user)"
            ></v-text-field>
          </v-flex>
          <v-flex xs12 sm4 pl-3>
            <v-radio-group row v-model="user.gender" :mandatory="true" @change="$emit('change', user)">
              <v-radio label="Male" value="M"></v-radio>
              <v-radio label="Femail" value="F"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 pl-3>
            <h3>
              <span class="float-left mt-2 mr-2">Levels:</span>
              <v-radio-group class="float-left mt-1" row v-model="user.level" :mandatory="true" @change="$emit('change', user)">
                <v-radio v-for="level in userLevels" :key="level" :label="level" :value="level"></v-radio>
              </v-radio-group>
            </h3>
            
          </v-flex>
          <v-flex xs12>
            <v-spacer></v-spacer>
            <v-btn color="primary" type="submit">Add</v-btn>
          </v-flex>
        </v-layout>
      </form>
    </v-flex>
  </v-layout>
</template>
<script>
import {EventBus} from '../../main'
export default {
  name: 'users-form',
  data () {
    return {
      user: {
        email: '',
        phone: '',
        first_name: '',
        last_name: '',
        gender: 'M',
        level: 'customer',
        password: ''
      },
      userLevels: ['admin', 'manager', 'employee', 'guest', 'customer']
    }
  },
  created () {
    EventBus.$on('CLEAR_USER_FORM', () => {
      console.log('CLEAR_USER_FORM')
      this.resetForm()
    })
  },
  methods: {
    addUser (e) {
      console.log('addUser', e)
      e.preventDefault()
      this.$emit('add', this.user)
      // this.resetForm()
    },
    resetForm () {
      this.$refs.userForm.reset()
    }
  }
}
</script>

<style>
.user-form-wrapper {
  background-color: #ffffff;
  border: 1px dotted rgba(0, 0, 0, 0.3);
  margin: 0 -0.5em;
}
</style>
