<template>
  <v-layout row wrap>
    <v-flex xs12>
      <table class="table bordered-1">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <td></td>
          </tr>
        </thead>
        <tbody>
          <tr v-for="item in users" :key="item.id" class="link-pointer">
            <td>
              {{item.profile.first_name}} {{item.profile.last_name}}
            </td>
            <td>{{item.email}}</td>
            <td></td>
          </tr>
          <tr v-if="showAdd">
            <td colspan="3">
              <user-form @add="add"></user-form>
            </td>
          </tr>
        </tbody>
      </table>
    </v-flex>
  </v-layout>
</template>
<script>
import {mapGetters} from 'vuex'
import UserForm from './UserForm.vue'

export default {
  name: 'users-list',
  components: {
    UserForm
  },
  data () {
    return {
      user: {
        name: ''
      },
      showAdd: true
    }
  },
  computed: {
    ...mapGetters(['users'])
  },
  methods: {
    add (user) {
      this.$emit('addUser', user)
    }
  }
}
</script>

